{% extends 'base.html.twig' %}

{% import 'partials/stars.html.twig' as stars %}

{% block body %}
    <main>
        <div class="jumbotron jumbotron-fluid bg-dark text-light">
            <div class="container">
                <h1 class="display-4 text-center mb-3">Feast of the Flesh Volume 10</h1>
                <div class="list-group">
                    {% for movie in movies %}
                        <a class="list-group-item list-group-item-action {{ movie.movieOver ? 'list-group-item-light' }} bg-darkest text-orange"
                           style="display: flex; align-items: center;"
                           href="{{ path('movie_details', {movie:movie.id}) }}">
                            {{ movie.startTime|date('h:i A') }} – {{ movie.title }}
                            {% if movie.movieOver %}
                                <span style="margin-left: auto" class="fa fa-check"></span>
                            {% endif %}
                            {% if movie.movieActive %}
                                <span style="margin-left: auto" class="fa fa-play"></span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container">
            <ul style="padding: 0;">
                {% for movie in movies %}
                    <li class="row" style="margin-bottom: 24px;">
                        <div class="col-sm-3">
                            <a href="{{ path('movie_details', {movie:movie.id}) }}">
                                <img class="img-fluid" src="{{ omdb.getPosterURL(movie.imdb) }}" alt="" role="presentation">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <strong>
                                    Starting at {{ movie.startTime|date('g:i A') }}
                                </strong>
                            </p>
                            <div style="margin-bottom: 16px;">
                                <h2 style="display:inline;">
                                    <a href="{{ path('movie_details', { 'movie': movie.id }) }}">{{ movie.title }}</a>
                                </h2>
                                <span>
                                <a href="https://imdb.com/title/{{ movie.imdb }}" target="_blank">
                                    (IMDb <span class="fa fa-external-link-alt"></span>)
                                </a>
                        </span>
                            </div>
                            {% include 'partials/movie-info.html.twig' %}
                        </div>
                        <div class="col-sm-3 align-self-center">
                            <dl>
                                <dt>Average Rating</dt>
                                <dd>
                                    {% if movie.ratings|length > 0 %}
                                        {{ movie.averageRating }}
                                        {{ stars.stars(movie.averageRating) }}
                                    {% else %}
                                        No ratings yet!
                                    {% endif %}
                                </dd>
                                <dt>
                                    Comments
                                </dt>
                                <dd>
                                    {% if movie.comments|length %}
                                        <a href="{{ path('movie_comments', { movie: movie.id }) }}">
                                            {{ movie.comments|length }}
                                            <span class="fa fa-comment"></span>
                                        </a>
                                    {% else %}
                                        No comments yet!
                                    {% endif %}
                                </dd>
                                {% if movie.lukeBit or movie.joannaBit %}
                                    <div style="position: relative;">
                                        {% if movie.lukeBit %}
                                            <button class="bit-button" type="button" aria-controls="bit-luke-{{ movie.id }}">
                                                {% include 'partials/random-luke-image.html.twig' %}
                                            </button>
                                            <div class="bit" id="bit-luke-{{ movie.id }}" aria-expanded="false">
                                                <button class="bit-close-button" type="button" aria-controls="bit-luke-{{ movie.id }}">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                                {{ movie.lukeBit|nl2br }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </dl>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bit-button.js') }}"></script>
{% endblock %}