{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    <meta property="og:title" name="og:title" content="{{ title }}" />
    <meta property="og:description" name="og:description" content="{{ description }}" />
    <meta property="og:type" name="og:type" content="article" />
    <meta property="og:url" name="og:url" content="{{ app.request.uri }}" />
{#    <meta property="og:image" name="og:image" content="{{ movies|length > 0 ? omdb.getPosterURL(movies[0].imdb) : ''}}" />#}
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="og:locale" name="og:locale" content="en_US" />
{% endblock %}

{% block body %}
    <main>
        <div class="jumbotron jumbotron-fluid bg-dark text-light">
            <div class="container">
                <h1 class="display-4 text-center mb-3">{{ title }}</h1>
                <div class="list-group">
                    {% for movie in movies %}
                        <a class="list-group-item list-group-item-action {{ movie.movieOver ? 'list-group-item-light' }} bg-darkest text-orange"
                           style="display: flex; align-items: center;"
                           href="{{ path('movie_details', {movie:movie.id}) }}">
                            {{ movie.startTime|date('M j, g:i A') }} – {{ movie.title }}
                            {% if movie.movieOver %}
                                <span style="margin-left: auto" class="fa fa-check"></span>
                            {% endif %}
                            {% if movie.movieActive %}
                                <span style="margin-left: auto" class="fa fa-play"></span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="p-0">
                {% for movie in movies %}
                    <li class="row" style="margin-bottom: 24px;">
                        <div class="col-sm-3">
                            <a href="{{ path('movie_details', {movie:movie.id}) }}">
                                <img class="img-fluid" src="{{ omdb.getPosterURL(movie.imdb) }}" alt="" role="presentation">
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <p>
                                <strong>
                                    Starting at {{ movie.startTime|date('g:i A') }}
                                </strong>
                            </p>
                            <div style="margin-bottom: 16px;">
                                <h2 style="display:inline;">
                                    <a href="{{ path('movie_details', { 'movie': movie.id }) }}">
                                        {{ movie.title }}
                                    </a>
                                </h2>
                                <span>
                                    <a href="https://imdb.com/title/{{ movie.imdb }}" target="_blank" rel="noopener">
                                        (IMDb <span class="fa fa-external-link-alt"></span>)
                                    </a>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    {% include 'partials/movie-people.html.twig' %}
                                </div>
                                <div class="col-sm-4">
                                    {% include 'partials/movie-info.html.twig' %}
                                </div>
                                <div class="col-sm-4">
                                    <dl>
                                        <dt>Average Rating</dt>
                                        <dd>
                                            {% include 'partials/average-rating.html.twig' %}
                                        </dd>
                                        <dt>
                                            Comments
                                        </dt>
                                        <dd>
                                            {% include 'partials/comments-count.html.twig' %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <p>No movies scheduled yet.</p>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}