{% extends 'base.html.twig' %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Feast of the Flesh</h1>
        </div>
    </div>

    <ul>
        {% for movie in movies %}
            <li class="row" style="margin-bottom: 24px;">
                <div class="col-sm-3">
                    <img class="img-fluid" src="{{ omdb.getPosterURL(movie.imdb) }}" alt="" role="presentation">
                </div>
                <div class="col-sm-9">
                    <p>Starting at: {{ movie.startTime|date('h:i A') }}</p>
                    <h2>{{ movie.title }}</h2>
                    <p>
                        <a href="https://imdb.com/title/{{ movie.imdb }}">IMBd</a>
                    </p>
                    <dl>
                        <dt>Release Date</dt>
                        <dd>{{ omdb.getMovie(movie.imdb).Released }}</dd>
                        <dt>Runtime</dt>
                        <dd>{{ omdb.getMovie(movie.imdb).Runtime }}</dd>
                    </dl>
                </div>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
