{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Movie index</h1>
                <p>
                    <a href="{{ path('home') }}">Home</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <table class="table text-light">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Imdb</th>
                        <th>Year feasted</th>
                        <th>Start Time</th>
                        <th>Runtime</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.id }}</td>
                            <td>
                                <a href="https://imdb.com/title/{{ movie.imdb }}" target="_blank" rel="noopener">
                                    {{ movie.imdb }}
                                </a>
                            </td>
                            <td>{{ movie.yearFeasted }}</td>
                            <td>{{ movie.startTime|date }}</td>
                            <td>{{ movie.runtime }}</td>
                            <td>
                                <a class="btn btn-secondary" href="{{ path('movie_show', {'id': movie.id}) }}">show</a>
                                <a class="btn btn-primary" href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <a href="{{ path('movie_new') }}">Create new</a>
            </div>
        </div>
    </main>
{% endblock %}
