<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Feast of the Flesh Volume 10{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap-4.3.1-dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('fontawesome-free-5.11.2-web/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('custom.css') }}">
        {% endblock %}
    </head>
    <header>
        {% if app.session %}
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        {% for error in app.session.getFlashBag().get('error') %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                        {% for notice in app.session.getFlashBag().get('notice') %}
                            <div class="alert alert-success">
                                {{ notice }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </header>
    <body class="bg-dark text-light">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
