<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Feast of the Flesh Fest{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap-4.6.0-dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('fontawesome-free-5.11.2-web/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('custom.css') }}">
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body class="bg-dark text-light">
        <header>
            {% if app.session %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            {% for error in app.session.getFlashBag().get('error') %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}

                            {% for notice in app.session.getFlashBag().get('notice') %}
                                <div class="alert alert-success">
                                    {{ notice }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </header>
        {% block body %}
            <main class="container">
                {% block container %}
                {% endblock %}
            </main>
        {% endblock %}
        <footer class="pt-3 pb-3 bg-darkest">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {% for link in footer.links %}
                            <a href="{{ link.url }}"><small>{{ link.text }}</small></a>
                            {% if not loop.last %}|{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.x-git.slim.js') }}"></script>
            <script src="{{ asset('bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
