{% extends 'base.html.twig' %}

{% import 'partials/stars.html.twig' as stars %}

{% block title %}Feast of the Flesh | {{ omdb(movie).Title }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row mb-4">
            <div class="col-sm">
                <p><a href="{{ path('home') }}">Back home</a></p>
                {% include 'partials/movie-title-with-imdb.html.twig' %}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm">
                <button
                    type="button" class="btn btn-lg btn-orange"
                    data-toggle="popover"
                    title="Genre & plot"
                    data-content="{{ omdb(movie).Genre }}. {{ omdb(movie).Plot }}"
                >

                    Reveal plot
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <p>
                    <img class="img-fluid" src="{{ omdb.getPosterURL(movie.imdb) }}" alt="{{ omdb(movie).Title }}">
                </p>
            </div>
            <div class="col-sm">
                {% include 'partials/movie-people.html.twig' %}
            </div>
            <div class="col-sm">
                {% include 'partials/movie-info.html.twig' %}
            </div>
            <div class="col-sm">
                <h2>Average Rating</h2>
                    {% if movie.ratings|length > 0 %}
                        <p class="display-3" style="display: flex; align-items: center;">
                            {{ movie.averageRating }}
                            <span style="font-size: 0.5em; margin-left: 0.5em;">
                                {{ stars.stars(movie.averageRating) }}
                            </span>
                        </p>
                    {% else %}
                        <p>No ratings yet!</p>
                    {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h2>Ratings</h2>

                <ul class="list-group">
                    {% for rating in movie.ratings %}
                        <li class="list-group-item bg-darkest text-light">
                            {{ stars.stars(rating.score) }} by <strong>{{ rating.rater }}</strong>
                        </li>
                    {% else %}
                        <li class="list-group-item bg-darkest text-light">No ratings yet!</li>
                    {% endfor %}
                </ul>

                {% if not readOnly %}
                    <hr>

                    <h3>Submit a rating</h3>

                    {{ form_start(ratingForm) }}
                    {{ form_widget(ratingForm) }}
                    <p>
                        <button class="btn btn-orange" type="submit" formnovalidate>Submit</button>
                    </p>
                    {{ form_end(ratingForm) }}
                {% endif %}
            </div>

            <div class="col-sm">
                <h2>Comments</h2>

                {% if comments %}
                    {% for comment in comments %}
                        {% include 'partials/comment.html.twig' %}
                    {% endfor %}
                    <div>
                        <a href="{{ path('movie_comments', {movie:movie.id}) }}">See all comments ({{ movie.comments|length }})</a>
                    </div>
                {% else %}
                    <p>No comments yet!</p>
                {% endif %}

                {% if not readOnly %}
                    <hr>

                    <h3>Submit a comment</h3>

                    {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}
                    <p>
                        <button class="btn btn-orange" type="submit" formnovalidate>Submit</button>
                    </p>
                    {{ form_end(commentForm) }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <p>
                    <a href="{{ path('home') }}">Back home</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}