{% extends 'base.html.twig' %}

{% block title %}Feast of the Flesh | {{ movie.title }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-sm">
                <p><a href="{{ path('home') }}">Back home</a></p>
                <div style="margin-bottom: 24px;">
                    <h1 style="display:inline;">{{ movie.title }}</h1>
                    <span>
                        <a href="https://imdb.com/title/{{ movie.imdb }}">(IMDb)</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <p>
                    <img class="img-fluid" src="{{ omdb.getPosterURL(movie.imdb) }}" alt="{{ movie.title }}">
                </p>
            </div>
            <div class="col-sm">
                {% include 'partials/movie-info.html.twig' %}
            </div>
            <div class="col-sm">
                <h2>Average Rating</h2>
                <p class="display-3">
                    {{ movie.averageRating }}
                    <span class="fa fa-star" style="font-size: .5em; vertical-align: middle;"></span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h2>Ratings</h2>

                <ul class="list-group">
                    {% for rating in movie.ratings %}
                        <li class="list-group-item">
                            {{ rating.score }} by <strong>{{ rating.rater }}</strong>
                        </li>
                    {% else %}
                        <li class="list-group-item">No ratings yet!</li>
                    {% endfor %}
                </ul>

                <hr>

                <h3>Submit a rating</h3>

                {{ form_start(ratingForm) }}
                {{ form_widget(ratingForm) }}
                <p>
                    <button class="btn btn-primary" type="submit" formnovalidate>Submit</button>
                </p>
                {{ form_end(ratingForm) }}
            </div>

            <div class="col-sm">
                <h2>Comments</h2>

                {% if comments %}
                    {% for comment in comments %}
                        {% include 'partials/comment.html.twig' %}
                    {% endfor %}
                    <div>
                        <a href="{{ path('movie_comments', {movie:movie.id}) }}">See all comments ({{ movie.comments|length }})</a>
                    </div>
                {% else %}
                    <p>No comments yet!</p>
                {% endif %}

                <hr>

                <h3>Submit a comment</h3>

                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                <p>
                    <button class="btn btn-primary" type="submit" formnovalidate>Submit</button>
                </p>
                {{ form_end(commentForm) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <p>
                    <a href="{{ path('home') }}">Back home</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}