{% extends 'base.html.twig' %}

{% block title %}Feast of the Flesh | {{ movie.title }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-sm">
                <p><a href="{{ path('home') }}">Back home</a></p>
                <div style="margin-bottom: 24px;">
                    <h1 style="display:inline;">{{ movie.title }}</h1>
                    <span>
                        <a href="https://imdb.com/title/{{ movie.imdb }}">(IMDb)</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <p>
                    <img class="img-fluid" src="{{ omdb.getPosterURL(movie.imdb) }}" alt="{{ movie.title }}">
                </p>
            </div>
            <div class="col-sm">
                {% include 'partials/movie-info.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h2>Ratings</h2>

                <ul class="list-group">
                    {% for rating in movie.ratings %}
                        <li class="list-group-item">
                            {{ rating.score }} by <strong>{{ rating.rater }}</strong>
                        </li>
                    {% else %}
                        <li class="list-group-item">No ratings yet!</li>
                    {% endfor %}
                </ul>

                {{ form_start(ratingForm) }}
                {{ form_widget(ratingForm) }}
                <p>
                    <button class="btn btn-primary" type="submit" formnovalidate>Submit</button>
                </p>
                {{ form_end(ratingForm) }}
            </div>

            <div class="col-sm">
                <h2>Comments</h2>

                {% for comment in movie.comments %}
                    <div class="card" style="margin-bottom: 24px;">
                        <div class="card-header">
                            By <strong>{{ comment.commenter }}</strong>
                        </div>
                        <div class="card-body">
                            <p>
                                {{ comment.text }}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <p>No comments yet!</p>
                {% endfor %}

                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                <p>
                    <button class="btn btn-primary" type="submit" formnovalidate>Submit</button>
                </p>
                {{ form_end(commentForm) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <p>
                    <a href="{{ path('home') }}">Back home</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}