{% block rating_score_widget %}
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="4.0">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="3.5">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half"></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="3.0">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="2.5">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half"></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="2.0">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="1.5">
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half"></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="1.0">
            <span class="fa fa-star"></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="{{ full_name }}" value="0.5">
            <span class="fa fa-star-half"></span>
        </label>
    </div>
{% endblock %}